@font-face {
  font-family: "anime";
	 src: url(font/itacha/Itachi.ttf);
}


html, body {
  margin: 0;
  padding:0 ;
}

.contenant {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url(img/boruto.jpg);
}

.navigation {
  background-color: red;
  position: fixed;
  width: 100%;
  height: 11%;
  -webkit-box-shadow: 0px 0px 2px 0px   #000000;
  -moz-box-shadow: 0px 0px 2px 0px       #000000;
  box-shadow: 0px 0px 2px 0px #000000;
  background-color: rgba(1, 1, 1,       0.7);
  color: rgba(1, 1, 1, 0.7);
}

nav li {
  display: inline;
}

li {
  letter-spacing: 1px;
  margin: 0;
  padding: 0 10px;
}

a {
text-decoration: none;
font-family: "anime";
color: white;
}

ul {
  list-style: none;
}

.logo {
  text-transform: uppercase;
  font-family: "anime";
  color: white;
}

h2, h3 {
  text-transform: uppercase;
  font-family: "anime";
  color: white;
}



.left {
  float: left;
}

.right {
  float: right;
}

.inner {
  width: 90%;
  margin: auto;
}

section {
  width: 100%;
  display: inline-block;
  background-color: black;
}

.figure {
  display: inline-block;
}

.culte {
  width: 30%;
  margin: 16px;
}

section p {
  text-align: center;
  color: white;
}

img {
  width: 15%;
  margin: 5px;
}

img:hover{
  -webkit-transform: scale(1.1);
}
